<h1>Edit Products</h1>

  <%= form_for @purchase  do |form| %>
    <%= render partial: '/purchases/form', object: form %>

       <div class="submit-field-box">
       <%= form.submit "Update Product"%>
       </div>

    <%end%>
