<h1>Successful Purchases</h1>


Price: <%= @purchase.total_price%><br> 

Transaction ID: <%= @purchase.transaction_id %><br>
Transaction Status: <%= @purchase.transaction_status %><br>
Card number: xxxx-xxxx-xxxx-<%= @purchase.fourdigits %><br>