
<div class="container-background">

  <div class="slideshow" style="height: 580px;
  overflow: hidden;">
    <div class="mySlides">
      <%= image_tag "modern1.jpg", style: "width: 100%"%>
      <span class = "caption-padding"><h1>Modern Comfort Tones</h1><h3>Check out our home decor SALE..</h3></span>
    </div>

    <div class="mySlides">
      <%= image_tag "modern3.jpg", style: "width: 100%"%>
      <span class = "caption-padding"><h1>Contempory FirePlace Style</h1><h3>For stylish people..</h3></span>
    </div>

    <div class="mySlides">
      <%= image_tag "chic-bedroom.png",style: "width: 100%" %>
      <span class = "caption-padding"><h1>Plush Comfort</h1><h3> A good night's sleep..</h3></span>
    </div>
  </div>

</div>
  