/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar{margin-bottom: 0px;
  background: white;
  padding: 5px;
}

.container-fluid>.navbar-header {
  text-align: center;
  margin-top: 13.5px;
}
.navbar-nav>li>{color:black;}

.nav>li>form {margin-top: 10.5px;}

.navbar-right{margin-top: 13.5px;}

.navbar-logo {
color: #70ABAF;
font-family: Lato;
font-weight: bold;
padding: 0px 0px 0px 0px;
}

.dropdown{
  color: black;
  font-family: Lato;
  margin-top: 3.5px;
  font-size: 16px;
}

.signuppage {
  padding: 0px 0px 0px 30px;
  background-color: #edd9c0;
}
.loginpage {
  padding: 0px 0px 0px 30px;
  background-color: #edd9c0;
  height: 550px;
  border-top: solid #7d4627;
}
.mySlides {display:none}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.mySlides container-background{
  height:30px;
}

.caption-padding{
  position: absolute;
  top: 30%;
  left: 25%;
  color: white;
  text-align: center;
}

.caption-padding h1{
  font-family: Lato;
}
.caption-padding h3{
  font-family: Lato;
}


