<h1>Edit Products</h1>

  <%= form_for @product  do |form| %>
    <%= render partial: '/products/form', object: form %>

       <div class="submit-field-box">
       <%= form.submit "Update Product"%>
       </div>

    <%end%>
